<div class="main-content">

    <div class="container-fluid">

        <!-- inicio del menu -->

        <app-orden-trabajo></app-orden-trabajo>
        <!-- fin del menu -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Ordenes de trabajo</h4>
                        <!-- <br>
                        <div>
                            <!--  <p class="card-category"> <span>Ingrese la Cedula</span>:</p>
                             <input type="text" id="name" name="name" required minlength="4" maxlength="10" size="22"
                                placeholder="Nombre/Cedula/Ruc"> 
                            <input type="text" class="form-control mb-2" placeholder="Buscar Orden" #txtSearch
                                (keyup)="onSearchPokemon( txtSearch.value )" />
                        </div> -->
                    </div>

                    <br>
                    <br>
                    <div class="container">
                        <input type="text" class="form-control mb-2" placeholder="Buscar Orden" 
                        #txtSearch
                        (keyup.enter)="ObetnerParametroPipe()" />
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        #. Serie
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Equipo
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Observacion
                                    </th>
                                    <th>
                                        Estado
                                    </th>


                                    <th>
                                        Accion
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of OrdenTrabajos | filtroOrden:search">
                                        <td>
                                            {{item?.idOrdenTrabajo}}

                                        </td>

                                        <td>
                                            {{item?.numeroSerie}}

                                        </td>
                                        <td>
                                            {{item?.fecha | date:'shortDate'}}
                                        </td>
                                        <td>
                                            {{item?.nombreEquipo}}
                                        </td>
                                        <td>
                                            {{item.cliente?.nombres}}
                                        </td>
                                        <td>
                                            {{item?.observacionesEquipo}}
                                        </td>
                                        <td>
                                            {{item?.estado}}
                                        </td>


                                        <td>

                                            <button routerLink="/orden/detalle" class="btn btn-info"
                                                (click)="obtenerOrden(item)" color="primary">Detalle</button>
                                        </td>
                                        <td>
                                            <button routerLink="/orden/actualizar" class="btn btn-info"
                                                (click)="obtenerOrden(item)" color="primary">Actualizar</button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>