<!-- <div class="main-content">
  <div class="container-fluid">



    <p>
      <mat-toolbar color="primary">

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
<!-- <span>My App</span>
        <span class="example-spacer"></span> -->

<!-- 
        <button mat-button routerLink="/orden/crear" aria-label="Example icon-button with menu icon">Crear</button>
        <button mat-button routerLink="/orden/listar" aria-label="Example icon-button with menu icon">Listar</button>
      </mat-toolbar>

    </p>

  </div>
</div>
-->
<div class="content">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="content">
          <div class="container">
            <p>
              <mat-toolbar color="primary">

                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button>

                <button mat-button routerLink="/orden/crear"
                  aria-label="Example icon-button with menu icon">Crear</button>
                <button mat-button routerLink="/orden/listar"
                  aria-label="Example icon-button with menu icon">Listar</button>
              </mat-toolbar>
            </p>
          </div>
        </div>    
    </div>
  </div>
</div>