
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form" autocomplete="off">
                
                <span class="login100-form-title p-b-49">
                    Login
                </span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Email</span>
                    <input class="input100"
                           type="email" 
                           name="email" 
                           placeholder="Ingrese su email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Password</span>
                    <input class="input100"
                           type="password"
                           name="password" 
                           placeholder="Ingrese su contraseña">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="text-right p-t-8 p-b-31"></div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>

               
            </form>
        </div>
    </div>
</div>