<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/login/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">


            <span class="login100-form-title p-b-49">
                Login
            </span>

            <div class="wrap-input100 m-b-23">
                <span class="label-input100">Email</span>
                <input class="input100" type="text" #txtcorreo
                    placeholder="Ingrese su email">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">
                <span class="label-input100">Password</span>
                <input class="input100" type="password"  #txtpassword
                    placeholder="Ingrese su contraseña">
                <span class="focus-input100"></span>
            </div>

            <div class="text-right p-t-8 p-b-31"></div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button class="login100-form-btn" (click)="login()">
                        Login
                    </button>
                </div>
            </div>



        </div>
    </div>
</div>