

.input { 
	background-color:transparent;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
    font-size: 15px;
	 
}

label{
    font-size: 15px;
}