<div class="main-content">
    <div class="container-fluid">
  
      <div class="row">
    
        <div class="col-md-12">
          <div class="card">
            
            <div class="card-header card-header-danger">
              <h4 class="card-title">Producto</h4>
              <p class="card-category">Complete la informacion a continuacion</p>
            </div>
  
            <div class="card-body">


              <!-- <div class="container"> -->
            <form autocomplete="off" [formGroup]="formularioProducto">
                <div class="row">
                <div class="col-md-6">
                  <!-- <label># Serie</label> -->
                  <div>
                    <mat-form-field class="example-full-width">
                      <input matInput 
                      placeholder="# Serie" 
                      type="text"
                      formControlName="serie"
                      >
                    </mat-form-field>
                    
                  </div><span class="form-text text-danger"
                    *ngIf="ValidarCamposProducto('serie')">
                   Este campo es obligatorio
                   </span>
                </div>
  
                <!-- <input type="text" value="" name="cedula" xlength="10"> -->
                
   
  
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput
                    #nombre
                    formControlName="nombre"
                    placeholder="Nombre Producto" type="text">
                  </mat-form-field>
                  <span class="form-text text-danger"
                  *ngIf="ValidarCamposProducto('nombre')">
                 Este campo es obligatorio
                 </span>
                </div>
  
  
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput
                    #marca 
                    formControlName="marca"
                    placeholder="Marca Producto" type="text">
                  </mat-form-field>
                  <span class="form-text text-danger"
                  *ngIf="ValidarCamposProducto('marca')">
                 Este campo es obligatorio
                 </span>
                </div>
  
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput  
                    #txtapellidos
                    formControlName="modelo"
                    placeholder="Modelo Producto" type="text">
                  </mat-form-field>
                  <span class="form-text text-danger"
                  *ngIf="ValidarCamposProducto('modelo')">
                 Este campo es obligatorio
                 </span>
                </div>
  

  
                <!-- <div class="col-md-7">
                  <label>Categoria </label>
                  <mat-form-field appearance="fill">
                    <mat-label>Selecione</mat-label>
                    <mat-select formControlName="categoria">
                      <mat-option value="one">Computadoras</mat-option>
                      <mat-option value="two">Camaras</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="form-text text-danger"
                  *ngIf="ValidarCamposProducto('categoria')">
                 Este campo es obligatorio
                 </span>
                </div> -->

                <div class="col-md-7">
                  <label>Categoria </label>
                  <mat-form-field appearance="fill">
                    <mat-label>Selecione</mat-label>
                    <mat-select  formControlName="categoria">
                      <mat-option *ngFor="let item of listaCategorias" value="{{item.nombre}}">{{item.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span class="form-text text-danger"
                  *ngIf="ValidarCamposProducto('categoria')">
                 Este campo es obligatorio
                 </span>
                </div>

              </div>
            </form>
              <!-- </div> -->
              <br>
              <br>
          <form autocomplete="off" [formGroup]="formularioProveedor">

              <div class="row">

                <div class="col-md-12">
                  <label>Proveedor</label>
  
                  <!-- <div class="row">
                    <div class="col">
                      <button mat-raised-button (click)="buscarProveedor()" class="btn btn-danger ">
                        Buscar</button>
                    </div>
                  </div> -->
  
                  <div class="row">
  
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput 
                        #txtpcedula (keyup.enter)="buscarProveedor()"
                        formControlName="cedula"
                        placeholder="C.I/RUC" 
                        type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('cedula')">
                      Este campo es obligatorio
                      </span>
                    </div>
  
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput 
                        #txtpnombres
                        formControlName="nombres"
                        placeholder="Nombre" type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('nombres')">
                      Este campo es obligatorio
                      </span>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput  
                        #txtpapellidos
                        formControlName="apellidos"
                        placeholder="Apellido" type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('apellidos')">
                      Este campo es obligatorio
                      </span>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput 
                        #txtptelefono
                        formControlName="telefono"
                        placeholder="Telefono" type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('telefono')">
                      Este campo es obligatorio
                      </span>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput
                        #txtpdireccion
                        formControlName="direccion"
                        placeholder="Direccion" type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('direccion')">
                      Este campo es obligatorio
                      </span>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput
                        #txtpcorreo
                        formControlName="correo"
                        placeholder="Correo" type="text">
                      </mat-form-field>
                      <span class="form-text text-danger"
                      *ngIf="ValidarCamposProveedor('correo')">
                      Este campo es obligatorio
                      </span>
                    </div>
                  </div>
                </div>

            </div>
          </form>
              <div class="row">
                <div class="col-md-4">
                  <button mat-raised-button 
                  class="btn btn-danger pull-right"
                  (click)="crear()"
                  >
                    Agregar</button>
                </div>
  
                <div class="col-md-4">
                  <button mat-raised-button  class="btn btn-primary pull-right">
                    Cancelar</button>
                </div>
              </div>
  
  
  
            </div>
          </div>
        </div>
  
      </div>
    </div>