<!-- <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top"> -->
<nav class="navbar navbar-expand-lg  navbar-absolute fixed-top navbar-dark bg-primary">
    <a class="navbar-brand">{{nombreUsuario}}</a>
    
    <br><br>
    <div class="callapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <div class="row">
                    <!-- <div class="col-md-4"> <span>Sistema de Seguridad Electrico & Comunicacion</span></div> -->
                    <div class="col-md-5"><span>Cuenca-Miraflores</span></div>
                    <div class="col-md-4"><span>www.siseec.com</span></div>
                </div>
            </li>

            <li class="nav-item">
                <div class="row">
                     <div class="col-md-5">
                         <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                        <span>sisecdt@gmail.com</span>
                    </div>
                  
                </div>
                <div class="row"><a href="https://www.facebook.com/SISEEC">Facebook</a></div>
                <div class="row"><span></span>Instagram</div>

            </li>
            <li class="nav-item">
                <div class="row">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">today</mat-icon><span> Fecha : {{fecha | date}}
                    </span>
                </div>     

            </li>

        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown">
                <div class="example-button-container">
                    <mat-label>Cerrar Sesion </mat-label>
                    <button mat-fab color="accent" (click)="CerrarSesion()"
                        aria-label="Example icon button with a bookmark icon">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link"
                    href="whatsapp:://send?text=Comparte%20este%20contenido%20en%20whatsapp%20con%20tus%20amigos%20y%20familiares%20https:/grupoda.mx">whatsapp<span
                        class="icon-chat"></span></a>
            </li> -->
        </ul>
    </div>
</nav>
<br>