<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Detalle Orden Trabajo</h4>

          </div>

          <div class="card-body">


            <div class="row">
              <div class="col-md-5">
                <mat-card>
                  <p>SISEEC</p>
                </mat-card>
              </div>
             
                <div class="col-md-4">
                  <button mat-raised-button routerLink='/orden/' class="btn btn-danger pull-right">
                    Regresar</button>
                
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-lg-8">
                <label>CLiente</label>

                <div class="col-md-6">
                  <mat-card>
                    <p>{{ordenDetalle.cliente.cedula}}</p>
                  </mat-card>
                </div>

                <div class="col-md-6">
                  <label>Correo</label>
                  <mat-card>
                    <p>{{ordenDetalle.cliente.correo}}</p>
                  </mat-card>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Nombre</label>
                    <mat-card>
                      <p>{{ordenDetalle.cliente.nombres}}</p>
                    </mat-card>
                  </div>
                  <div class="col-md-6">
                    <label>Apellido</label>
                    <mat-card>
                      <p>{{ordenDetalle.cliente.apellidos}}</p>
                    </mat-card>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>Direccion</label>
                    <mat-card>
                      <p>{{ordenDetalle.cliente.direccion}}</p>
                    </mat-card>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <label>Telefono</label>
                    <mat-card>
                      <p>{{ordenDetalle.cliente.telefono}}</p>
                    </mat-card>
                  </div>
               </div>   
                  <br>
                  <br>

                  <div class="row">
                    <div class="col-md-12">
                      <label>Nombre Equipo</label>
                      <mat-card>
                        <p>{{ordenDetalle.nombreEquipo}}</p>
                      </mat-card>
                    </div>

                    <div class="col-md-12">
                      <label>Numero Serie</label>
                      <mat-card>
                        <p>{{ordenDetalle.numeroSerie}}</p>
                      </mat-card>
                    </div>

                    <div class="col-md-4">
                      <label>Modelo</label>
                      <mat-card>
                        <p>{{ordenDetalle.modelo}}</p>
                      </mat-card>
                    </div>

                    <div class="col-md-4">
                      <label>Marca</label>
                      <mat-card>
                        <p>{{ordenDetalle.marca}}</p>
                      </mat-card>
                    </div>

                    <div class="col-md-4">

                      <label>Año Garantia</label>
                      <mat-card>
                        <p>{{ordenDetalle.aniosGarantia}}</p>
                      </mat-card>
                    </div>
                  </div>

                </div>

              
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-8">
                <label>Observaciones</label>

               <mat-card> 
                <mat-card-content>
                  <p>{{ordenDetalle.observacionesEquipo}}</p>
                </mat-card-content>
                
                </mat-card>

              </div>
            </div>

            <br>
            <br>

            <div class="row">
              <div class="col-md-12 col-lg-8">
                <label>Facturacion</label>

                <div class="row">
                  <div class="col-md-4">
                    <label>Numero Factura</label>
                    <mat-card>
                      <p>{{ordenDetalle.numeroFactura}}</p>
                    </mat-card>
                  </div>

                  <div class="col-md-4">
                    <label>Fecha Factura</label>
                    <mat-card>
                      <p>{{ordenDetalle.fechaFactura}}</p>
                    </mat-card>
                  </div>
                  <div class="col-md-4">
                    <label>Monto Factura</label>
                      <mat-card>
                        <p>{{ordenDetalle.montoFactura}}</p>
                      </mat-card>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <br>
            <div class="row">
              <div class="col-md-12 col-lg-8">
                <label>Proveedor</label>

                <div class="row">
                  <div class="col-md-4">
                    <label>Cedula/Ruc</label>
                      <mat-card>
                        <p>{{ordenDetalle.proveedor.cedula}}</p>
                      </mat-card>
                  </div>
                  <div class="col-md-4">
                    <label>Nombre</label>
                    <mat-card>
                      <p>{{ordenDetalle.proveedor.nombres}}</p>
                    </mat-card>
                  </div>
                  
                  <div class="col-md-4">
                    <label>Apellido</label>
                      <mat-card>
                        <p>{{ordenDetalle.proveedor.apellidos}}</p>
                      </mat-card>
                  </div>
                 
                  <div class="col-md-4">
                    <label>Telefono</label>
                    <mat-card>
                      <p>{{ordenDetalle.proveedor.telefono}}</p>
                    </mat-card>
                  </div>
                  
                  <div class="col-md-4">
                    <label>Direccion</label>
                    <mat-card>
                      <p>{{ordenDetalle.proveedor.direccion}}</p>
                    </mat-card>
                  </div>
                  <div class="col-md-4">
                    <label>Correo</label>
                    <mat-card>
                      <p>{{ordenDetalle.proveedor.correo}}</p>
                    </mat-card>
                  </div>

                </div>
              </div>
            </div>

            

          </div>
        </div>
      </div>





    </div>
  </div>
</div>