<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Actualizar Usuarios</h4>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="cedula" placeholder="CI/Ruc:">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="nombres" placeholder="Nombre:">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="apellidos" placeholder="Apellido:">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="direccion" placeholder="Direccion:">
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput [(ngModel)]="telefono" placeholder="Telefono:">
                                </mat-form-field>

                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="correo" placeholder="Email:" type="email">
                                    </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="contrasena" placeholder="Contraseña:" type="password">
                                    </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                        </div>


                        <div class="center">
                            <!-- <button mat-raised-button type="submit" class="btn btn-sucess">GUARDAR</button>-->



                            <button mat-raised-button class="btn btn-danger pull-right"
                                onclick="return confirm('Estas seguro de Guardar el registro?');"
                                style="margin-left:30px">GUARDAR</button>




                            <br />
                            <br />
                            <br />
                            <br />
                            <button mat-raised-button class="btn btn-danger pull-right"
                                style="margin-left:30px">Cancelar</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>