<!-- <div class="container">
    <div class="row">
        <div class="col-md-2">
           
                <a  class="simple-text">
                    <div class="logo-img">
                        <img style="height: '100px';
                        width: '100px'," src="/assets/img/LogoSiseecActual2.png"/>
                    </div>
                </a>
           </div>

        <div class="col-md-4">
            <div class="row">
                <span>Sistema de Seguridad Electrico & Comunicacion</span>
            </div>
            <div class="row"><span>Cuenca-Miraflores</span></div>
            <div class="row"><span>www.siseec.com</span></div>
        </div>
        <div class="col-md-4">
           <div class="row"><mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon><span>sisecdt@gmail.com</span></div>
           <div class="row"><a href="https://www.facebook.com/SISEEC">Facebook</a></div>
           <div class="row"><span></span>Instagram</div>
        </div>
        <div class="col">
            <div class="row"><mat-icon aria-hidden="false" aria-label="Example home icon">today</mat-icon><span> Fecha : {{fecha|date}}</span></div>
            <div class="row"><span></span># Orden </div>
         </div>
    </div>
</div> -->