<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Ingresar Usuarios</h4>
                        <p class="card-category">Complete la informacion a continuacion</p>
                    </div>

                    <div class="card-body">
                        
                        <form autocomplete="off" [formGroup]="miFormulario">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput #txtcedula placeholder="CI/Ruc:" maxlength="10"
                                            formControlName='nuevoFavorito'>
                                    </mat-form-field>
                                    <span class="form-text text-danger" *ngIf="campoNoValido('nuevoFavorito')">
                                        Cedula Invalida
                                    </span>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput maxlength="60" #txtnombres placeholder="Nombre:">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput #txtapellidos maxlength="60" placeholder="Apellido:">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput maxlength="120" #txtdireccion placeholder="Direccion:">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput maxlength="15" #txttelefono placeholder="Telefono:">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput maxlength="120" #txtcorreo placeholder="Email:" type="email"
                                        formControlName='correo'>
                                    </mat-form-field>
                                    <span class="form-text text-danger" *ngIf="campoNoValido('correo')">
                                        {{ emailErrorMsg }}
                                    </span>
                                </div>

                            </div>
                        </form>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <button mat-raised-button (click)="crearCliente()"
                                    class="btn btn-danger pull-right">GUARDAR</button>
                            </div>

                            <br />
                            <br />

                            <div class="col-md-4">
                                <button mat-raised-button (click)="cancelar()"
                                    class="btn btn-primary pull-right">
                                    Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>